--
-- PostgreSQL database dump
--

\restrict n31T7cjKrsXwj9re2V5mIWbf8X1iWhdzTv5qEZfNCS5tbM4qCLSvDb22Blnczte

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    hall_id bigint NOT NULL,
    description character varying(255) NOT NULL,
    student_count integer,
    status character varying(255) DEFAULT 'PENDING'::character varying,
    admin_note character varying(255),
    approved_at timestamp without time zone,
    approved_by bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    end_time timestamp(6) without time zone,
    start_time timestamp(6) without time zone,
    club_name character varying(255),
    designation character varying(255),
    event_type character varying(255),
    event_title character varying(255),
    resources_needed character varying(255),
    contact_phone character varying(255),
    coordinator_name character varying(255),
    coordinator_phone character varying(255),
    CONSTRAINT booking_status_check CHECK (((status)::text = ANY (ARRAY[('APPROVED'::character varying)::text, ('PENDING'::character varying)::text, ('REJECTED'::character varying)::text, ('CANCELLED'::character varying)::text])))
);


ALTER TABLE public.booking OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.booking_id_seq OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.booking_id_seq OWNED BY public.booking.id;


--
-- Name: halls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.halls (
    hall_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    capacity integer NOT NULL,
    location character varying(255),
    amenities character varying(255),
    is_active boolean DEFAULT true,
    image_urls character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    visibility character varying(255),
    coordinator_email character varying(255),
    type character varying(255),
    CONSTRAINT check_hall_type CHECK (((type)::text = ANY (ARRAY[('LAB'::character varying)::text, ('HALL'::character varying)::text, ('CLASSROOM'::character varying)::text, ('CABIN'::character varying)::text]))),
    CONSTRAINT halls_visibility_check CHECK (((visibility)::text = ANY ((ARRAY['PUBLIC'::character varying, 'TNP_ONLY'::character varying])::text[])))
);


ALTER TABLE public.halls OWNER TO postgres;

--
-- Name: halls_hall_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.halls_hall_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.halls_hall_id_seq OWNER TO postgres;

--
-- Name: halls_hall_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.halls_hall_id_seq OWNED BY public.halls.hall_id;


--
-- Name: tnp_request_halls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tnp_request_halls (
    id bigint NOT NULL,
    tnp_request_id bigint NOT NULL,
    hall_id bigint NOT NULL,
    requirement_type character varying(100)
);


ALTER TABLE public.tnp_request_halls OWNER TO postgres;

--
-- Name: tnp_request_halls_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tnp_request_halls_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tnp_request_halls_id_seq OWNER TO postgres;

--
-- Name: tnp_request_halls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tnp_request_halls_id_seq OWNED BY public.tnp_request_halls.id;


--
-- Name: tnp_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tnp_requests (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    company_name character varying(255) NOT NULL,
    drive_type character varying(255),
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    expected_students integer,
    description character varying(255),
    priority character varying(20) DEFAULT 'HIGH'::character varying,
    status character varying(255) DEFAULT 'PENDING'::character varying,
    admin_note character varying(255),
    approved_by bigint,
    approved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    round_type character varying(255)
);


ALTER TABLE public.tnp_requests OWNER TO postgres;

--
-- Name: tnp_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tnp_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tnp_requests_id_seq OWNER TO postgres;

--
-- Name: tnp_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tnp_requests_id_seq OWNED BY public.tnp_requests.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(50),
    phone character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    isactive boolean,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['STUDENT'::character varying, 'ADMIN'::character varying, 'FACULTY'::character varying, 'TNP'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: booking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking ALTER COLUMN id SET DEFAULT nextval('public.booking_id_seq'::regclass);


--
-- Name: halls hall_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.halls ALTER COLUMN hall_id SET DEFAULT nextval('public.halls_hall_id_seq'::regclass);


--
-- Name: tnp_request_halls id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_request_halls ALTER COLUMN id SET DEFAULT nextval('public.tnp_request_halls_id_seq'::regclass);


--
-- Name: tnp_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_requests ALTER COLUMN id SET DEFAULT nextval('public.tnp_requests_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (id);


--
-- Name: halls halls_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT halls_name_key UNIQUE (name);


--
-- Name: halls halls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT halls_pkey PRIMARY KEY (hall_id);


--
-- Name: tnp_request_halls tnp_request_halls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_request_halls
    ADD CONSTRAINT tnp_request_halls_pkey PRIMARY KEY (id);


--
-- Name: tnp_requests tnp_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_requests
    ADD CONSTRAINT tnp_requests_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: booking booking_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(user_id);


--
-- Name: booking booking_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id);


--
-- Name: booking booking_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: tnp_requests fk_tnp_admin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_requests
    ADD CONSTRAINT fk_tnp_admin FOREIGN KEY (approved_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: tnp_request_halls fk_tnp_hall; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_request_halls
    ADD CONSTRAINT fk_tnp_hall FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id) ON DELETE CASCADE;


--
-- Name: tnp_request_halls fk_tnp_req; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_request_halls
    ADD CONSTRAINT fk_tnp_req FOREIGN KEY (tnp_request_id) REFERENCES public.tnp_requests(id) ON DELETE CASCADE;


--
-- Name: tnp_requests fk_tnp_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tnp_requests
    ADD CONSTRAINT fk_tnp_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict n31T7cjKrsXwj9re2V5mIWbf8X1iWhdzTv5qEZfNCS5tbM4qCLSvDb22Blnczte

